ChangeBegins_given/My workflow copy (1).json
{
  "name": "My workflow copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3952,
        896
      ],
      "id": "63e5e6b6-b22e-4497-8d3b-20269c45d1b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Extract batches array and runId from the API response\nconst response = $input.first().json;\nconst runId = response.data.runId;\nconst batches = response.data.batches;\n\n// Return each batch as a separate item with runId attached\nreturn batches.map(batch => ({\n  json: {\n    runId: runId,\n    templateId: batch.templateId,\n    context: batch.context,\n    structure: batch.structure,\n    domain: batch.domain\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        896
      ],
      "id": "047fa474-b740-423d-af04-f76362e9158c",
      "name": "Extract Batches"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3280,
        896
      ],
      "id": "f891ecba-020e-4a49-9896-9967f3513b3e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgen-api.changebegins.ai/generation/initialize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"target\": 11\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3728,
        896
      ],
      "id": "0161dc6b-df0f-4c5e-b453-d7ad7c4acdf7",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "========================================================= SYSTEM PROMPT ========================================================\nYou are a psychometric item writer for ChangeBegins aptitude assessments.\n\nABSOLUTE RULES:\n1. Output ONLY valid JSON — no markdown, no explanation, nothing else\n2. Solve the question yourself first, then write it\n3. Use ONLY provided parameters — never invent values\n4. Exactly ONE correct answer — verify before outputting\n5. Use ₹ (Rupees) for all monetary values\n6. Parameters MUST be seeded from current UTC timestamp — record both seed and derived parameters in output\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPARAMETER SEEDING (mandatory — time-based, not random)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nStep 1 — Capture seed:\n  seed = current UTC unix timestamp in milliseconds\n\nStep 2 — Derive each parameter from seed deterministically:\n  For the i-th parameter (i starting at 1):\n    raw_i = (seed * prime_i) mod (range_max - range_min + 1)\n    param_i = range_min + raw_i\n\n  Primes in order: [31, 37, 41, 43, 47, 53, 59, 61, 67, 71]\n\nStep 3 — Apply type formatting:\n  • type \"integer\" or \"number\" → round to nearest whole number\n  • type \"float\"              → keep 2 decimal places\n  • type \"string\"             → select from allowed values list at index: (seed mod len(allowed_values))\n\nStep 4 — Output both seed and all derived parameter values in the JSON (see schemas below)\n\nWHY TIME-BASED: Using the unix timestamp as seed means every question generated at a different moment\ngets different parameter values. The same seed always reproduces the same question. This is\ndeterministic and auditable — not random.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDIFFICULTY LEVELS (IRT b-parameter) — STRUCTURAL ENFORCEMENT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEach level has MANDATORY structural requirements. Violating them means the question fails.\n\nCALIBRATION BASELINE: All levels are benchmarked at college-entry level and above.\nL0 is the floor — accessible to a college freshman, not a 10th grader.\n\nL0: b[-2.0, -1.0] — Single step, >85% success rate among college freshmen\n    • Requires direct application of ONE college-level concept (e.g., simple interest, basic probability, syllogism)\n    • No multi-step chains, but the concept itself must be college-appropriate (not school arithmetic)\n    • Distractors: all wrong options differ from correct by ≤20% and exploit common conceptual confusions\n    • Explanation: ≤2 steps\n    • Benchmark: A well-prepared 12th-grade student should get this right; a 10th grader likely would not\n\nL1: b[-1.0, -0.3] — 2-3 steps, 70-85% success rate among college students\n    • 2-3 dependent steps involving at least one college-level operation (compound interest, permutation/combination basics, logical contrapositive, inferential reading)\n    • MUST include a unit/label/conceptual transformation that requires domain knowledge (e.g., effective annual rate, conditional probability setup, passage inference beyond literal reading)\n    • Distractors: one must result from skipping the transformation; one from a school-level shortcut that fails here\n    • Explanation: 3-4 steps\n    • Benchmark: Solvable by an average college student with focused effort; a 10th grader would almost certainly fail\n\nL2: b[-0.3, +0.8] — 3-5 steps, 50-70% success rate (GATE/GMAT standard)\n    • 3-5 chained steps; at least one conditional, inequality, or non-obvious constraint\n    • MUST require handling an edge case (rounding, ceiling, floor, min/max, boundary condition) that changes the answer\n    • Concepts may combine two domains (e.g., time-work + percentage, syllogism + set theory, reading + inference + negation)\n    • Distractors: one from wrong edge-case handling, one from formula inversion, one within 10% of correct answer\n    • Explanation: 5-6 steps showing edge-case resolution\n    • Benchmark: Top 40% of college students; typical CAT/GMAT aspirant gets this with moderate effort\n\nL3: b[+0.8, +1.8] — 5+ steps, 30-50% success rate (CAT 95th–99th percentile)\n    • 5+ chained steps; at least TWO interacting concepts that must be held simultaneously\n    • MUST contain a structural trap: a red herring value OR a subtle constraint that invalidates the obvious approach\n    • Label the trap in explanation as [TRAP]\n    • Distractors: one must be the answer a solver gets by falling for the trap; at least TWO distractors within 5% of correct\n    • Explanation: 7-9 steps, trap explicitly called out\n    • Benchmark: Only well-prepared CAT/GRE/GMAT aspirants solve this reliably; most college graduates would struggle\n\nL4: b[+1.8, +3.0] — Proof-level, <30% success rate (Olympiad / top 1% of competitive exams)\n    • Proof-level, combinatorial, or adversarial reasoning; irreducible to formula substitution\n    • MUST require either: (a) case analysis with ≥3 non-trivial cases, OR (b) a non-obvious invariant or bound, OR (c) a constructive or contradiction-based proof\n    • The question must remain unsolvable even if the solver knows all relevant formulas — insight is mandatory\n    • Distractors: plausible results from incomplete case analysis, off-by-one errors, or near-correct bounds; at least TWO within 5% of correct\n    • Explanation: full solution with all cases/proof steps; include \"Why common approaches fail\" note\n    • Benchmark: IMO/Putnam caliber for math; top 1% GRE verbal/analytical for other domains\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDISTRACTOR QUALITY RULES (all levels)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n- All 4 options must be numerically/textually distinct\n- No option may be trivially eliminable (e.g., negative answer for a count question)\n- At L2+: at least one distractor must be within 10% of the correct answer\n- At L3+: at least two distractors must be within 5% of the correct answer\n- Every distractor must correspond to a named mistake type from the DISTRACTORS field\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPRE-OUTPUT CHECKLIST (mandatory)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n□ Solved the question independently and got a definite answer\n□ That answer matches correctAnswer field\n□ All 4 options are distinct values\n□ The question satisfies ALL mandatory structural requirements for its difficulty level\n□ No option is trivially eliminable\n□ At L2+: at least one distractor is within 10% of correct\n□ At L3+: trap is present, labelled, and one distractor exploits it\n□ At L4+: question cannot be solved by formula substitution alone\n□ Explanation derives correctAnswer from question data only\n□ seed and parameters fields are both present and populated in output\n\n======================================================== OUTPUT SCHEMAS ========================================================\n\n--- NUMERICAL ---\n{\n  \"seed\": <unix timestamp integer used to derive parameters>,\n  \"parameters\": {\n    \"<param_name>\": <derived value>,\n    \"<param_name>\": <derived value>\n  },\n  \"questionText\": \"word problem using only provided parameters\",\n  \"options\": {\n    \"A\": \"number\",\n    \"B\": \"number\",\n    \"C\": \"number\",\n    \"D\": \"number\"\n  },\n  \"correctAnswer\": \"A|B|C|D\",\n  \"explanation\": \"Step 1: ... Step 2: ... [TRAP if L3+] ... Answer: ...\",\n  \"tags\": [\"Numerical\"],\n  \"estimatedTime\": 60\n}\n\n--- LOGICAL ---\n{\n  \"seed\": <unix timestamp integer used to derive parameters>,\n  \"parameters\": {\n    \"<param_name>\": <derived value>,\n    \"<param_name>\": <derived value>\n  },\n  \"questionText\": \"logical problem\",\n  \"options\": {\n    \"A\": \"string\",\n    \"B\": \"string\",\n    \"C\": \"string\",\n    \"D\": \"string\"\n  },\n  \"correctAnswer\": \"A|B|C|D\",\n  \"explanation\": \"Logical chain: IF X → THEN Y → THEREFORE Z [TRAP if L3+]\",\n  \"tags\": [\"Logical Reasoning\"],\n  \"estimatedTime\": 90\n}\n\n--- VERBAL ---\n{\n  \"seed\": <unix timestamp integer used to derive parameters>,\n  \"parameters\": {\n    \"<param_name>\": <derived value>,\n    \"<param_name>\": <derived value>\n  },\n  \"questionText\": \"[FULL PASSAGE TEXT]. Based on the passage, [question]?\",\n  \"options\": {\n    \"A\": \"string\",\n    \"B\": \"string\",\n    \"C\": \"string\",\n    \"D\": \"string\"\n  },\n  \"correctAnswer\": \"A|B|C|D\",\n  \"explanation\": \"The passage states '...' which means ... [TRAP if L3+]\",\n  \"tags\": [\"Verbal Reasoning\"],\n  \"estimatedTime\": 120\n}\n\n======================================================== USER PROMPT TEMPLATE ========================================================\nGenerate a {{ $json.domain }} question.\n\nDIFFICULTY: {{ $json.structure.dokLevel.level }} — {{ $json.structure.description }}\nSteps required: {{ $json.structure.dokLevel.steps }}\nComplexity: {{ $json.structure.dokLevel.complexity }}\n\nCONSTRAINTS: {{ $json.structure.envelope.constraints.toJsonString() }}\nCONTEXT: {{ $json.structure.envelope.definition }}\n\nPARAMETERS (derive values from timestamp using PARAMETER SEEDING rules above, then output them):\n{{ $json.structure.parameterSlots.map(p => `- ${p.name} (${p.type})`).join('\\n') }}\n\nDISTRACTORS: {{ $json.structure.distractorRules.map(r => typeof r === 'string' ? r : `${r.type}: ${r.description}`).join('; ') }}\n\nVERBAL RULE: questionText must BEGIN with the full passage, then ask the question. Never reference a passage without including it in full.\n\nPROCESS (follow in order):\n1. Read current UTC unix timestamp — this is your seed\n2. Derive every parameter value using the PARAMETER SEEDING formula (time-based, not random)\n3. Solve the question completely using only those derived parameter values\n4. Confirm your answer is unambiguous\n5. Run the PRE-OUTPUT CHECKLIST — revise if any check fails\n6. Build exactly 3 distractors matching the named distractor rules\n7. Write the explanation showing your full solution path (include [TRAP] label at L3+)\n8. Output valid JSON only — include seed and parameters fields as shown in the schema\n\nOUTPUT — valid JSON only, matching the schema for {{ $json.domain }} above.\n\n======================================================== PLACEHOLDER REFERENCE ========================================================\n{{ $json.domain }}\n  What it is     : The category of question being generated\n  Allowed values : numerical | logical | verbal\n  Example        : numerical\n\n{{ $json.structure.dokLevel.level }}\n  What it is     : Depth of Knowledge level (maps to IRT difficulty)\n  Allowed values : L0 | L1 | L2 | L3 | L4\n  Example        : L2\n\n{{ $json.structure.description }}\n  What it is     : Short human-readable description of the template\n  Example        : Two-step percentage and ratio problem\n\n{{ $json.structure.dokLevel.steps }}\n  [OPTIONAL — omit line if not applicable]\n  What it is     : Number or description of reasoning steps required\n  Example        : 3 arithmetic steps\n\n{{ $json.structure.dokLevel.complexity }}\n  [OPTIONAL — omit line if not applicable]\n  What it is     : Qualitative complexity label from the template\n  Example        : Multi-concept with unit conversion\n\n{{ $json.structure.envelope.constraints.toJsonString() }}\n  [OPTIONAL — omit line if not applicable]\n  What it is     : Object serialized to JSON string — avoids [object Object]\n  Example output : {\"value\":[100,1000],\"rate\":[5,25]}\n\n{{ $json.structure.envelope.definition }}\n  [OPTIONAL — omit line if not applicable]\n  What it is     : Extra context such as tier or ability type\n  Example        : Tier: A, Ability: Numerical\n\n{{ $json.structure.parameterSlots.map(p => `- ${p.name} (${p.type})`).join('\\n') }}\n  What it is     : Converts array of objects → readable lines — avoids [object Object]\n  Output format  : - PARAM_NAME (PARAM_TYPE)\n  Example output : - caps (number)\n                   - deadline (number)\n\n{{ $json.structure.distractorRules.map(r => typeof r === 'string' ? r : `${r.type}: ${r.description}`).join('; ') }}\n  What it is     : Converts array of objects → semicolon list — avoids [object Object]\n  Example output : arithmetic_slip: Common arithmetic error or calculation mistake; wrong_method: Wrong formula or incorrect approach; scale_error: Scale/unit error (×100/÷100, ratio inversion)\n\n======================================================== FILLED EXAMPLE — Numerical L2 ========================================================\n[SYSTEM] (paste system prompt above)\n\n[USER]\nGenerate a numerical question.\n\nDIFFICULTY: L2 — Two-step profit and loss problem\nSteps required: 3 arithmetic steps\nComplexity: Percentage then absolute value\n\nPARAMETERS (derive values from timestamp using PARAMETER SEEDING rules above, then output them):\n- caps (number)\n- deadline (number)\n\nDISTRACTORS: arithmetic_slip: Common arithmetic error or calculation mistake; wrong_method: Wrong formula or incorrect approach; scale_error: Scale/unit error (×100/÷100, ratio inversion)\n\nPROCESS (follow in order):\n1. Read current UTC unix timestamp — this is your seed\n2. Derive every parameter value using the PARAMETER SEEDING formula (time-based, not random)\n3. Solve the question completely using only those derived parameter values\n4. Confirm your answer is unambiguous\n5. Run the PRE-OUTPUT CHECKLIST — revise if any check fails\n6. Build exactly 3 distractors matching the named distractor rules\n7. Write the explanation showing your full solution path\n8. Output valid JSON only — include seed and parameters fields as shown in the schema\n\nOUTPUT — valid JSON only, matching the schema for numerical above.\n\nEXAMPLE OUTPUT SHAPE (values are illustrative only):\n{\n  \"seed\": 1719825600,\n  \"parameters\": {\n    \"caps\": 480,\n    \"deadline\": 12\n  },\n  \"questionText\": \"...\",\n  \"options\": { \"A\": \"...\", \"B\": \"...\", \"C\": \"...\", \"D\": \"...\" },\n  \"correctAnswer\": \"B\",\n  \"explanation\": \"Step 1: ... Step 2: ... Step 3: ... Answer: ...\",\n  \"tags\": [\"Numerical\"],\n  \"estimatedTime\": 60\n}\n\n======================================================== FILLED EXAMPLE — Verbal L1 ========================================================\n[SYSTEM] (paste system prompt above)\n\n[USER]\nGenerate a verbal question.\n\nDIFFICULTY: L1 — Direct reading comprehension, single inference\n\nPARAMETERS (derive values from timestamp using PARAMETER SEEDING rules above, then output them):\n- topic (string)\n- passage_length (string)\n- question_focus (string)\n\nDISTRACTORS: related but off-topic detail; opposite of main idea; true fact not stated in passage\n\nVERBAL RULE: questionText must BEGIN with the full passage, then ask the question. Never reference a passage without including it in full.\n\nPROCESS (follow in order):\n1. Read current UTC unix timestamp — this is your seed\n2. Derive every parameter value using the PARAMETER SEEDING formula (time-based, not random)\n3. Solve the question completely using only those derived parameter values\n4. Confirm your answer is unambiguous\n5. Run the PRE-OUTPUT CHECKLIST — revise if any check fails\n6. Build exactly 3 distractors matching the named distractor rules\n7. Write the explanation showing your full solution path\n8. Output valid JSON only — include seed and parameters fields as shown in the schema\n\nOUTPUT — valid JSON only, matching the schema for verbal above also add the templateid in the json{{ $json.templateId }}.\n\nEXAMPLE OUTPUT SHAPE (values are illustrative only):\n{\n  \"seed\": 1719825600,\n  \"parameters\": {\n    \"topic\": \"renewable energy\",\n    \"passage_length\": \"short\",\n    \"question_focus\": \"main idea\"\n  },\n  \"questionText\": \"[full passage text here]. Based on the passage, what is the main idea?\",\n  \"options\": { \"A\": \"...\", \"B\": \"...\", \"C\": \"...\", \"D\": \"...\" },\n  \"correctAnswer\": \"A\",\n  \"explanation\": \"The passage states '...' which means ...\",\n  \"tags\": [\"Verbal Reasoning\"],\n  \"estimatedTime\": 120,\n  \"templateId\": \"{{ $json.templateId }}\"\n}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "codeExecution": false,
          "maxTokens": 9000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -3056,
        432
      ],
      "id": "1d5008be-d4be-43a7-9657-d2b7ec4b6ccf",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "V2mKyiXlH7rWkBVk",
          "name": "Claude"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Parse Claude API output to clean JSON + token cost\n// Mode: Run Once for All Items\n\n// ─── TOKEN PRICING (per 1M tokens, USD) ──────────────────────────\nconst PRICING = {\n  'claude-haiku-4-5-20251001':  { input: 0.80,  output: 4.00  },\n  'claude-sonnet-4-6':          { input: 3.00,  output: 15.00 },\n  'claude-opus-4-6':            { input: 15.00, output: 75.00 },\n  'default':                    { input: 3.00,  output: 15.00 }\n};\n\n// ─── EXTRACT TEXT ─────────────────────────────────────────────────\nconst response  = $input.first().json;\nconst rawOutput = response.content?.[0]?.text || '';\n\nif (!rawOutput) {\n  return [{\n    json: {\n      success: false,\n      error: 'No text content found in Claude response',\n      raw: response\n    }\n  }];\n}\n\n// ─── PARSE JSON ───────────────────────────────────────────────────\nlet parsed;\n\ntry {\n  // Step 1: Direct parse\n  parsed = JSON.parse(rawOutput);\n\n} catch (e) {\n  try {\n    // Step 2: Strip markdown code fences (```json ... ```)\n    const stripped = rawOutput\n      .replace(/^```json\\s*/i, '')\n      .replace(/^```\\s*/i, '')\n      .replace(/```\\s*$/i, '')\n      .trim();\n\n    parsed = JSON.parse(stripped);\n\n  } catch (e2) {\n    try {\n      // Step 3: Regex extract { ... } as last resort\n      const match = rawOutput.match(/\\{[\\s\\S]*\\}/);\n      if (!match) throw new Error('No JSON object found');\n      parsed = JSON.parse(match[0]);\n\n    } catch (e3) {\n      return [{\n        json: {\n          success: false,\n          error: 'Failed to parse LLM output as JSON',\n          raw: rawOutput\n        }\n      }];\n    }\n  }\n}\n\n// ─── VALIDATE REQUIRED FIELDS ─────────────────────────────────────\nconst requiredFields = ['questionText', 'options', 'correctAnswer', 'explanation','templateId'];\nconst missingFields  = requiredFields.filter(f => !parsed[f]);\n\nif (missingFields.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: `Missing required fields: ${missingFields.join(', ')}`,\n      raw: rawOutput,\n      parsed\n    }\n  }];\n}\n\n// ─── CALCULATE TOKEN COST ──────────────────────────────────────────\nconst model        = response.model || 'default';\nconst inputTokens  = response.usage?.input_tokens  || 0;\nconst outputTokens = response.usage?.output_tokens || 0;\nconst totalTokens  = inputTokens + outputTokens;\n\nconst rates      = PRICING[model] || PRICING['default'];\nconst inputCost  = (inputTokens  / 1_000_000) * rates.input;\nconst outputCost = (outputTokens / 1_000_000) * rates.output;\nconst totalCost  = inputCost + outputCost;\n\n// ─── RETURN CLEAN OUTPUT ───────────────────────────────────────────\nreturn [{\n  json: {\n    success:        true,\n    // Question fields\n    questionText:   parsed.questionText,\n    options:        parsed.options,\n    correctAnswer:  parsed.correctAnswer,\n    explanation:    parsed.explanation,\n    templateId: parsed.templateId,\n    tags:           parsed.tags           || [],\n    estimatedTime:  parsed.estimatedTime  || null,\n    parameters:     parsed.parameters     || null,\n    computedAnswer: parsed.computedAnswer || null,\n    // Token usage\n    model:          model,\n    totalTokens:    totalTokens,\n    // Cost (USD)\n    totalCostUSD:   parseFloat(totalCost.toFixed(6))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        432
      ],
      "id": "f217c001-4181-4f3c-b2f0-0a08993d4798",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Is this question valid? Respond only in JSON format.\n\nQuestion: {{ $json.questionText }}\nOptions: {{ $json.options }}\nCorrect Answer: {{ $json.correctAnswer }}\n\nReturn:\n{\"is_valid\": true, \"reason\": null} or {\"is_valid\": false, \"reason\": \"brief explanation of what is wrong\"}\nthe json format should never change"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -2480,
        432
      ],
      "id": "2da210d7-1b99-4d4f-b7fa-4e40f9f5df20",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "kJbTKeBgy9C0vcTs",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content;\nconst parsed = JSON.parse(raw);\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        432
      ],
      "id": "96d212d1-d6f9-40c4-9c95-d62055caca41",
      "name": "Code in JavaScript1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9616ec6-d063-4fba-813d-4f4c02372fa7",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        432
      ],
      "id": "d4ffa694-8b03-4d5f-a4d4-218b4adbd90b",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1680,
        192
      ],
      "id": "8f6b5198-acfb-4667-a56c-e57047865d1d",
      "name": "Merge"
    },
    {
      "parameters": {
        "tableId": "questions_staging_generated",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "template_id",
              "fieldValue": "={{ $json.templateId }}"
            },
            {
              "fieldId": "question_text",
              "fieldValue": "={{ $json.questionText }}"
            },
            {
              "fieldId": "options",
              "fieldValue": "={{ $json.options }}"
            },
            {
              "fieldId": "correct_answer",
              "fieldValue": "={{ $json.correctAnswer }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "explanation",
              "fieldValue": "={{ $json.explanation }}"
            },
            {
              "fieldId": "parameters",
              "fieldValue": "={{ $json.parameters }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2].match(/^L[1-4]$/i) ? 'engineering' : 'non-engineering' }}"
            },
            {
              "fieldId": "param_hash",
              "fieldValue": "={{ $json.metadata.hash }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.metadata.templateId.includes('NUM') ? 'numerical' : $json.metadata.templateId.includes('LOG') ? 'logical' : $json.metadata.templateId.includes('VER') ? 'verbal-reasoning' : $json.metadata.templateId }}"
            },
            {
              "fieldId": "difficulty",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2] === 'L1' ? 0.3 : $json.metadata.templateId.split('_')[2] === 'L2' ? 0.6 : $json.metadata.templateId.split('_')[2] === 'L3' ? 0.9 : 0.3 }}"
            },
            {
              "fieldId": "discrimination",
              "fieldValue": "={{ Math.random() + 1 }}"
            },
            {
              "fieldId": "dok_level",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2]}}"
            },
            {
              "fieldId": "domain",
              "fieldValue": "={{ $json.metadata.templateId.includes('NUM') ? 'numerical' : $json.metadata.templateId.includes('LOG') ? 'logical' : $json.metadata.templateId.includes('VER') ? 'verbal-reasoning' : $json.metadata.templateId }}"
            },
            {
              "fieldId": "subcategory",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[1]}}"
            },
            {
              "fieldId": "review_status",
              "fieldValue": "accepted"
            },
            {
              "fieldId": "tokens_used",
              "fieldValue": "={{ $json.totalTokens }}"
            },
            {
              "fieldId": "cost_occured",
              "fieldValue": "={{ $json.totalCostUSD }}"
            },
            {
              "fieldId": "difficulty_level",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        416
      ],
      "id": "31e03a7f-7cd2-4aa1-8712-8f8a13a10d77",
      "name": "Create a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "lVHcnKW7gawCErrB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgen-api.changebegins.ai/hash/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "questionText",
              "value": "={{ $json.questionText }}"
            },
            {
              "name": "options",
              "value": "={{ $json.options }}"
            },
            {
              "name": "correctAnswer",
              "value": "={{ $json.correctAnswer }}"
            },
            {
              "name": "=explanation",
              "value": "={{ $json.explanation }}"
            },
            {
              "name": "=templateId",
              "value": "={{ $json.templateId }}"
            },
            {
              "name": "parameters",
              "value": "={{ $json.parameters }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        272
      ],
      "id": "4c1cef6d-8e57-460d-9742-f2881f2ff3c8",
      "name": "HTTP Request8",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "questions_staging_generated",
        "filters": {
          "conditions": [
            {
              "keyName": "param_hash",
              "keyValue": "={{ $json.metadata.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        336
      ],
      "id": "6c1a90fb-1405-4c68-9588-4765498a1cac",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "lVHcnKW7gawCErrB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c99f9361-82f7-4f99-8b26-e230c804b632",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        336
      ],
      "id": "120de0aa-4a5a-47f0-9592-f8a65ae87ed0",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1008,
        48
      ],
      "id": "c6367937-1feb-43b9-9c2a-458c92b879c7",
      "name": "Merge1"
    },
    {
      "parameters": {
        "tableId": "questions_staging_generated",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "template_id",
              "fieldValue": "={{ $json.templateId }}"
            },
            {
              "fieldId": "question_text",
              "fieldValue": "={{ $json.questionText }}"
            },
            {
              "fieldId": "options",
              "fieldValue": "={{ $json.options }}"
            },
            {
              "fieldId": "correct_answer",
              "fieldValue": "={{ $json.correctAnswer }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "explanation",
              "fieldValue": "={{ $json.explanation }}"
            },
            {
              "fieldId": "parameters",
              "fieldValue": "={{ $json.parameters }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2].match(/^L[1-4]$/i) ? 'engineering' : 'non-engineering' }}"
            },
            {
              "fieldId": "param_hash",
              "fieldValue": "={{ $json.metadata.hash }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.metadata.templateId.includes('NUM') ? 'numerical' : $json.metadata.templateId.includes('LOG') ? 'logical' : $json.metadata.templateId.includes('VER') ? 'verbal-reasoning' : $json.metadata.templateId }}"
            },
            {
              "fieldId": "difficulty",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2] === 'L1' ? 0.3 : $json.metadata.templateId.split('_')[2] === 'L2' ? 0.6 : $json.metadata.templateId.split('_')[2] === 'L3' ? 0.9 : 0.3 }}"
            },
            {
              "fieldId": "discrimination",
              "fieldValue": "={{ Math.random() + 1 }}"
            },
            {
              "fieldId": "dok_level",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2]}}"
            },
            {
              "fieldId": "domain",
              "fieldValue": "={{ $json.metadata.templateId.includes('NUM') ? 'numerical' : $json.metadata.templateId.includes('LOG') ? 'logical' : $json.metadata.templateId.includes('VER') ? 'verbal-reasoning' : $json.metadata.templateId }}"
            },
            {
              "fieldId": "subcategory",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[1]}}"
            },
            {
              "fieldId": "review_status",
              "fieldValue": "duplicate"
            },
            {
              "fieldId": "tokens_used",
              "fieldValue": "={{ $json.totalTokens }}"
            },
            {
              "fieldId": "cost_occured",
              "fieldValue": "={{ $json.totalCostUSD }}"
            },
            {
              "fieldId": "difficulty_level",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        608
      ],
      "id": "a4b9cd4c-3549-4e8c-a92e-dfe048d042be",
      "name": "Create a row1",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "lVHcnKW7gawCErrB",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1680,
        576
      ],
      "id": "a565301f-7309-4d43-bce1-c98592eedeed",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgen-api.changebegins.ai/hash/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "questionText",
              "value": "={{ $json.questionText }}"
            },
            {
              "name": "options",
              "value": "={{ $json.options }}"
            },
            {
              "name": "correctAnswer",
              "value": "={{ $json.correctAnswer }}"
            },
            {
              "name": "=explanation",
              "value": "={{ $json.explanation }}"
            },
            {
              "name": "=templateId",
              "value": "={{ $json.templateId }}"
            },
            {
              "name": "parameters",
              "value": "={{ $json.parameters }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        656
      ],
      "id": "a7f72aa6-bdf0-4e8d-8f79-1bcb9b5337ae",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "questions_staging_generated",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "template_id",
              "fieldValue": "={{ $json.templateId }}"
            },
            {
              "fieldId": "question_text",
              "fieldValue": "={{ $json.questionText }}"
            },
            {
              "fieldId": "options",
              "fieldValue": "={{ $json.options }}"
            },
            {
              "fieldId": "correct_answer",
              "fieldValue": "={{ $json.correctAnswer }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "explanation",
              "fieldValue": "={{ $json.explanation }}"
            },
            {
              "fieldId": "parameters",
              "fieldValue": "={{ $json.parameters }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2].match(/^L[1-4]$/i) ? 'engineering' : 'non-engineering' }}"
            },
            {
              "fieldId": "param_hash",
              "fieldValue": "={{ $json.metadata.hash }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.metadata.templateId.includes('NUM') ? 'numerical' : $json.metadata.templateId.includes('LOG') ? 'logical' : $json.metadata.templateId.includes('VER') ? 'verbal-reasoning' : $json.metadata.templateId }}"
            },
            {
              "fieldId": "difficulty",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2] === 'L1' ? 0.3 : $json.metadata.templateId.split('_')[2] === 'L2' ? 0.6 : $json.metadata.templateId.split('_')[2] === 'L3' ? 0.9 : 0.3 }}"
            },
            {
              "fieldId": "discrimination",
              "fieldValue": "={{ Math.random() + 1 }}"
            },
            {
              "fieldId": "dok_level",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2]}}"
            },
            {
              "fieldId": "domain",
              "fieldValue": "={{ $json.metadata.templateId.includes('NUM') ? 'numerical' : $json.metadata.templateId.includes('LOG') ? 'logical' : $json.metadata.templateId.includes('VER') ? 'verbal-reasoning' : $json.metadata.templateId }}"
            },
            {
              "fieldId": "subcategory",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[1]}}"
            },
            {
              "fieldId": "review_status",
              "fieldValue": "duplicate"
            },
            {
              "fieldId": "tokens_used",
              "fieldValue": "={{ $json.totalTokens }}"
            },
            {
              "fieldId": "cost_occured",
              "fieldValue": "={{ $json.totalCostUSD }}"
            },
            {
              "fieldId": "difficulty_level",
              "fieldValue": "={{ $json.metadata.templateId.split('_')[2]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        576
      ],
      "id": "0332329c-f001-4dc7-a90c-2223faa0ecaa",
      "name": "Create a row2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1232,
        576
      ],
      "id": "1fc61393-a257-4343-9896-837c273eda74",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -784,
        96
      ],
      "id": "8dd4e16f-95eb-480e-80df-38813eaba421",
      "name": "Merge4"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -784,
        288
      ],
      "id": "3de23780-3be4-4ebd-ad50-fbd31d01df65",
      "name": "Merge5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Batches": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Extract Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d113936e-83c8-4f41-abce-3bd417fe540e",
  "meta": {
    "instanceId": "29bcc3d67f60e112eabd6a566bac22b412260080385c92b0b90a09bb0998e07b"
  },
  "id": "uUCFDwXYXI62XQiV",
  "tags": []
}